[user]
name = Björn Westlin 
email = bwestlin@gmail.com

[color]
diff = auto
status = auto
branch = auto

[apply]
whitespace = nowarn

[alias]
ap = add -p
ci = commit -v
co = checkout
cp = checkout -p
st = status
br = branch
bra = branch -a
d = diff
dc = d --cached
hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
logd = log --decorate=short --stat
logp = logd --patch

[merge]
tool = meld

[push]
default = current

[core]
excludesFile = ~/.gitignore_global
